* {
    border: none;
    padding: 0;
    margin: 0;
    max-width: 1280px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    z-index: 1;
    background-color: #FEFFDF;
    margin: 0;
    height: 100%;
    min-height: 729px;
    border: none;
    text-align: center;
    overflow: auto;

}

header {
    z-index: 10;
    position: fixed;
    display: flex;
    font-family: 'Wallpoet', cursive;
    font-size: 2rem;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    background-color: #FFA952;
    height: 100px;
    width: 100%;
    padding: 5px;
    border-bottom: solid #EF5A5A 3px;
}

#pantallaCifrado {
    position: relative;
    top: 100px;
    display: none;
    padding: 2rem;
    max-width: 1280px;
    font-family: 'Ubuntu', sans-serif;
    float: left;
    margin-left: 3rem;
}

.texto {
    text-align: justify;
    resize: none;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFE79A;
    padding: 10px;
}

p {
    padding: 2px;
    margin: 5px;
}

#offset {
    width: 100px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

button {
    font-family: 'Wallpoet', cursive;
    padding: 10px;
    margin: 0 30px;
    font-size: 2rem;
    background-color: #FFA952;
    border: solid #EF5A5A 2px;
    border-radius: 10px;
}

#root {
    font-family: 'Sedgwick Ave', cursive;
    position: relative;
    top: 150px;
    margin-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

#pantallaResultado {
    display: none;
    position: relative;
    top: 120px;
    width: 50%;
    width: 515px;
    height: 205px;
    /* background-color: #FFE79A; */
    /* text-align: justify; */
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    /* float: right; */
}

#regresarInicio {
    display: none;
    position: relative;
    width: 100%;
    top: 170px;
    margin-bottom: 50px;
}

/* main {
    overflow: auto;
} */

h3 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

#bienvenida, #instrucciones, #consideraciones, #paraComenzar {
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
}




#imagencifrado {
    height: 300px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#offsetYOtros {
    position: relative;
    right: 25px;
    display: none;
    margin: 0;
    padding: 0;
}